---
import Iconify from "@iconify/iconify"
import type { HTMLAttributes } from "astro/types"
import type { IconName } from "./type"

export type Props = HTMLAttributes<"div"> & { name: IconName; alt?: string }
const props = Astro.props

const getIconData = async (icon: string, alt?: string) => {
  await Iconify.loadIcon(icon)

  const iconData = Iconify.getIcon(icon)
  if (!iconData) throw new Error(`Icon ${icon} not found`)

  return {
    title: alt ?? icon,
    left: iconData.left,
    top: iconData.top,
    width: iconData.width,
    height: iconData.height,
    body: iconData.body,
  }
}

const icon = await getIconData(props.name, props.alt)
---

<div class={props.class}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox={`${icon.left} ${icon.top} ${icon.width} ${icon.height}`}
    fill="none"
    style="width:100%"
  >
    <title>{icon.title}</title>
    <Fragment set:html={icon.body} />
  </svg>
</div>
