---
import { Icon, type IconName } from "@/components/Elements/Icon"
import { PostCard } from "@/components/Elements/PostCard"
import { Button } from "@/components/ui/Button"
import { BaseLayout } from "@/layouts/BaseLayout"
import { getPosts } from "@/lib/posts"

const posts = await getPosts()
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())

type PostsType = typeof posts

type ContentType = {
  headerTitle: string
  headerIcon: IconName
  description?: string
  linkTitle: string
  link: string
  posts?: PostsType
}

const contents: ContentType[] = [
  {
    headerTitle: "RICORA Programming Teamについて",
    headerIcon: "fluent-emoji:desktop-computer",
    description:
      "RICORA Programming Teamは東京理科大学 野田キャンパスにて活動するプログラミングサークルです。低レイヤー領域の探究から競技プログラミング、CTF、ゲーム制作、Web開発など多岐にわたり活動を行っています。",
    linkTitle: "もっと詳しく見る",
    link: "/about",
  },
  {
    headerTitle: "最新ニュース",
    headerIcon: "fluent-emoji:newspaper",
    posts: posts.slice(0, 3),
    linkTitle: "記事一覧へ",
    link: "/archives",
  },
  {
    headerTitle: "お問い合わせ",
    headerIcon: "fluent-emoji:handshake",
    description: "依頼や質問、入部希望の方など、少しでも興味を持って頂けた場合は、お気軽にお問い合わせください。",
    linkTitle: "お問い合わせ・入部希望者はこちら",
    link: "/contact",
  },
]
---

<BaseLayout
  title="RICORA Programming Team"
  titleSuffix=""
  description="東京理科大学 電子計算機研究会 プログラミング班"
  og={{
    url: Astro.site!,
  }}
>
  <main class="flex flex-1 flex-col gap-6 py-12">
    {
      contents.map((content) => (
        <section>
          <div class="mx-auto max-w-screen-xl">
            <div class="flex flex-col gap-6 rounded-lg border bg-bg-default p-6 md:px-12 md:py-8">
              <h2 class="flex flex-row items-center gap-3 text-2xl font-black md:text-3xl">
                <Icon name={content.headerIcon} class="w-10 flex-none md:w-12" />
                <span>{content.headerTitle}</span>
              </h2>
              {content.description && <p class="text-fg-muted md:text-lg">{content.description}</p>}

              {content.posts && (
                <div class="flex flex-col gap-3">
                  {content.posts.map((post, i) => (
                    <PostCard
                      title={post.data.title}
                      icon={post.data.icon as IconName}
                      slug={post.slug}
                      body={post.body}
                      tags={post.data.tags ?? []}
                      categories={post.data.categories.map((category) => category.id)}
                      date={post.data.date}
                      lastmod={post.data.lastmod}
                      animationDelay={160 * i}
                    />
                  ))}
                </div>
              )}

              <Button variant="outline" class="dark:border-border-muted" size="lg" as="a" href={content.link}>
                {content.linkTitle}
                <Icon name="tabler:chevron-right" class="w-8" />
              </Button>
            </div>
          </div>
        </section>
      ))
    }
  </main>
</BaseLayout>
