---
import { Icon } from "@/components/Elements/Icon"
import { MainLayout } from "@/layouts/MainLayout"
import { isDev } from "@/lib/runtime"
import { getCollection } from "astro:content"
import { formatDate } from "@/lib/date"
import { calculateReadingTime } from "@/lib/posts"

const posts = await getCollection("posts", ({ data }) => (isDev ? true : !data.draft))
---

<MainLayout title="RICORA Programming Team" description="東京理科大学 電子計算機研究会 プログラミング班">
  <main class="flex flex-1 flex-col gap-6 py-12">
    <!-- 仮のモックアップ -->
    {
      posts
        .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
        .map((post, i) => (
          <div
            class="flex flex-row items-center gap-2 rounded-xl bg-card/50 p-4 shadow-md backdrop-blur-lg duration-1000 ease-out animate-in fade-in-0 slide-in-from-bottom-6 hover:bg-muted/60"
            style={{
              "animation-delay": `${i * 160}ms`,
              "animation-fill-mode": "backwards",
            }}
          >
            <Icon name={post.data.icon} class="w-28 rounded-2xl p-6" />
            <div class="my-2 flex flex-col gap-2">
              <header>
                <div class="flex flex-row gap-2">
                  {post.data.categories.map((category: string) => (
                    <a
                      href="/activities"
                      class="rounded-md bg-blue-400 px-4 py-1 font-bold text-white transition hover:bg-blue-300"
                    >
                      {category}
                    </a>
                  ))}
                </div>
              </header>
              <a href={`/posts/${post.slug}`}>
                <h2 class="text-2xl font-black">{post.data.title}</h2>
              </a>
              <footer class="flex flex-row flex-wrap gap-4 text-sm font-semibold text-gray-500">
                <div class="flex flex-row items-center gap-2">
                  <Icon name="tabler:calendar-time" class="h-5 w-5" />
                  <span>投稿: {formatDate(post.data.date)}</span>
                </div>
                {post.data.lastmod && (
                  <div class="flex flex-row items-center gap-2">
                    <Icon name="tabler:refresh" class="h-5 w-5" />
                    <span>最終更新: {formatDate(post.data.lastmod)}</span>
                  </div>
                )}
                <div class="flex flex-row items-center gap-2">
                  <Icon name="tabler:clock" class="h-5 w-5" />
                  <span>読了時間: 約{calculateReadingTime(post.body)}分</span>
                </div>
              </footer>
            </div>
          </div>
        ))
    }
  </main>
</MainLayout>
