---
import { Icon, type IconName } from "@/components/Elements/Icon"
import { BaseLayout } from "@/layouts/BaseLayout"

// TODO: 最新の記事を表示する
//import { formatDate } from "@/lib/date"
//import { calculateReadingTime, getPosts } from "@/lib/posts"
//import { twMerge } from "tailwind-merge"
//import { isDev } from "@/lib/runtime"
//import { getCollection } from "astro:content"

//const posts = await getCollection("posts", ({ data }) => (isDev ? true : !data.draft))
//const categories = await getCollection("categories")

type ContentType = {
  headerTitle: string
  headerIcon: IconName
  description: string
  linkTitle: string
  link: string
}

const contents: ContentType[] = [
  {
    headerTitle: "RICORA Programming Teamについて",
    headerIcon: "fluent-emoji-flat:desktop-computer",
    description:
      "RICORA Programming Teamは東京理科大学 野田キャンパスにて活動するプログラミングサークルです。低レイヤー領域の探究から競技プログラミング、CTF、ゲーム制作、Web開発など多岐にわたり活動を行っています。",
    linkTitle: "もっと詳しく見る",
    link: "/about-us",
  },
  {
    headerTitle: "最新ニュース",
    headerIcon: "fluent-emoji-flat:newspaper",
    description: "ここに記事を3つくらい並べる。",
    linkTitle: "記事一覧へ",
    link: "/archives",
  },
  {
    headerTitle: "お問い合わせ",
    headerIcon: "fluent-emoji-flat:handshake",
    description: "依頼や質問、入部希望の方など、少しでも興味を持って頂けた場合は、お気軽にお問い合わせください。",
    linkTitle: "お問い合わせ・入部希望者はこちら",
    link: "/contact",
  },
]
---

<BaseLayout
  title="RICORA Programming Team"
  titleSuffix=""
  description="東京理科大学 電子計算機研究会 プログラミング班"
  og={{
    url: Astro.site!,
  }}
>
  <main class="flex flex-1 flex-col gap-6 py-12">
    {
      contents.map((content) => (
        <section>
          <div class="mx-auto max-w-screen-xl">
            <div class="rounded-lg bg-card p-6 md:px-12 md:py-8 dark:bg-muted">
              <h2 class="flex flex-row items-center gap-4 text-2xl font-black md:gap-6 md:text-4xl">
                <>
                  <Icon name={content.headerIcon} class="w-10 flex-none md:w-12" />
                  <span>{content.headerTitle}</span>
                </>
              </h2>
              <p class="my-6 text-muted-foreground md:text-lg">{content.description}</p>

              <a
                href={content.link}
                class="flex flex-row items-center justify-center rounded-lg border bg-zinc-50 px-5 py-2.5 text-center transition hover:bg-zinc-200/50 dark:bg-zinc-950 dark:hover:bg-zinc-900"
              >
                {content.linkTitle}
                <Icon name="tabler:chevron-right" class="w-8 pl-2" />
              </a>
            </div>
          </div>
        </section>
      ))
    }
  </main>
</BaseLayout>
