---
import { Icon, type IconName } from "@/components/Elements/Icon"
import { BaseLayout } from "@/layouts/BaseLayout"
import { formatDate } from "@/lib/date"
import { calculateReadingTime, getPosts } from "@/lib/posts"
import { getCollection } from "astro:content"
import * as path from "node:path"
import { twMerge } from "tailwind-merge"

export const getStaticPaths = async () => {
  const tags = await getCollection("categories")
  return tags.map((category) => ({
    params: {
      slug: category.id,
    },
    props: {
      category,
    },
  }))
}

const { category } = Astro.props

const posts = await getPosts()
const categories = await getCollection("categories")

const postsByCategory = posts
  .filter((post) => post.data.categories.some((postCategory) => postCategory.id === category.id))
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---

<BaseLayout title={category.data.title} og={{ url: new URL(path.join("tags", category.id), Astro.site) }}>
  <main class="flex flex-1 flex-col gap-8 py-12">
    <header class="flex flex-col gap-6">
      <h1 class="flex flex-row items-center gap-2 text-3xl font-bold sm:text-4xl md:gap-3 md:text-5xl">
        <Icon name={category.data.icon as IconName} class="h-10 w-10 sm:h-12 sm:w-12 md:h-16 md:w-16" />
        {category.data.title}
      </h1>
      <p class="text-muted-foreground sm:text-lg">
        "{category.data.title}"に関連する{postsByCategory.length}件の記事を表示しています。
      </p>
    </header>
    <div class="flex flex-col gap-6">
      <!-- 仮のモックアップ -->
      {
        postsByCategory.map((post, i) => (
          <div
            class="flex flex-row items-center gap-2 rounded-xl bg-card/50 p-4 shadow-md backdrop-blur-lg duration-1000 ease-out animate-in fade-in-0 slide-in-from-bottom-6 hover:bg-muted/60"
            style={{
              "animation-delay": `${i * 160}ms`,
              "animation-fill-mode": "backwards",
            }}
          >
            <Icon name={post.data.icon as IconName} class="w-20 flex-none rounded-2xl p-4 sm:w-28 sm:p-6" />
            <div class="my-2 flex flex-col gap-2.5 sm:gap-4">
              <header>
                <div class="flex flex-row flex-wrap gap-2">
                  {post.data.categories.map(({ id }) => {
                    const category = categories.find((category) => category.id === id)!
                    return (
                      <a
                        href={`/${id}`}
                        class={twMerge(
                          "flex flex-row items-center gap-1 rounded-md bg-blue-400 px-2.5 py-1 text-sm font-bold text-white transition hover:brightness-110 sm:px-4 sm:text-base",
                          category.data.twClassName,
                        )}
                      >
                        <Icon name={category.data.icon as IconName} class="h-5 w-5" />
                        <div>{category.data.title}</div>
                      </a>
                    )
                  })}
                </div>
              </header>
              <a href={`/posts/${post.slug}`}>
                <h2 class="text-lg font-black sm:text-xl md:text-2xl">{post.data.title}</h2>
              </a>
              <footer class="flex flex-row flex-wrap gap-2 text-xs font-semibold text-gray-500 sm:gap-4 sm:text-sm">
                <div class="flex flex-row items-center gap-2">
                  <Icon name="tabler:calendar-time" class="h-4 w-4 sm:h-5 sm:w-5" />
                  <span>投稿: {formatDate(post.data.date)}</span>
                </div>
                {post.data.lastmod && (
                  <div class="flex flex-row items-center gap-2">
                    <Icon name="tabler:refresh" class="h-5 w-5" />
                    <span>最終更新: {formatDate(post.data.lastmod)}</span>
                  </div>
                )}
                <div class="flex flex-row items-center gap-2">
                  <Icon name="tabler:clock" class="h-5 w-5" />
                  <span>読了時間: 約{calculateReadingTime(post.body)}分</span>
                </div>
              </footer>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</BaseLayout>
