---
import type { HTMLAttributes } from "astro/types"
import { twMerge } from "tailwind-merge"
import { unfurl } from "unfurl.js"
import { Icon } from "../Icon"

type Props = HTMLAttributes<"a"> & {
  title?: string
  description?: string
  image?: string
}
const { href, title: titleProps, description: descriptionProps, image: imageProps, ...props } = Astro.props
const url = new URL(href ?? "")

const metadata = await unfurl(url.href).catch(() => undefined)
const favicon = metadata?.favicon
const title =
  titleProps ?? metadata?.open_graph?.title ?? metadata?.title ?? metadata?.twitter_card?.title ?? url.hostname
const description =
  descriptionProps ?? metadata?.open_graph?.description ?? metadata?.description ?? metadata?.twitter_card?.description
const image = {
  url: imageProps ?? metadata?.open_graph?.images?.[0]?.url ?? metadata?.twitter_card?.images?.[0]?.url,
  alt: metadata?.open_graph?.images?.[0]?.alt ?? metadata?.twitter_card?.images?.[0]?.alt,
}

const shouldInvertFavicon = url.hostname.includes("github")
---

<div class="h-36">
  <a
    class="not-prose flex min-h-full flex-row items-center rounded-lg border not-italic transition hover:bg-mauve-a3 dark:bg-mauve-a2"
    href={url.href}
    {...props}
  >
    <div class="flex min-w-0 flex-1 flex-col justify-between gap-2 overflow-auto break-all px-3 md:px-5">
      <p class="line-clamp-2 font-bold">{title}</p>
      {description && <p class=" line-clamp-3 text-xs text-fg-subtle">{description}</p>}
      <div class="flex flex-row items-center gap-2 text-xs">
        {
          favicon ? (
            <img src={favicon} class={twMerge("inline-block h-4 w-4", shouldInvertFavicon && "dark:invert")} />
          ) : (
            <Icon name="tabler:world-x" class="size-4" />
          )
        }
        <p class="truncate text-fg-muted">{url.hostname}</p>
      </div>
    </div>
    {
      image.url && (
        <div class="shrink-0">
          <img
            src={image.url}
            class="size-24 object-cover md:h-36 md:w-auto md:rounded-r-lg"
            alt={image.alt}
            loading="lazy"
          />
        </div>
      )
    }
  </a>
</div>
