---
import { type IconName } from "@/components/Elements/Icon"
import { PostCard } from "@/components/Elements/PostCard"
import { BaseLayout } from "@/layouts/BaseLayout"
import { getPosts } from "@/lib/posts"
import { getTags } from "@/lib/tags"
import * as path from "node:path"

export const getStaticPaths = async () => {
  const tags = await getTags()
  return tags.map((tag) => ({
    params: {
      id: tag.id,
    },
    props: {
      tag,
    },
  }))
}

const { tag } = Astro.props

const posts = await getPosts()

const postsByTag = posts
  .filter((post) => post.data.tags?.includes(tag.id))
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---

<BaseLayout title={tag.title} og={{ url: new URL(path.join("tags", tag.id), Astro.site) }}>
  <main class="mx-auto flex w-full max-w-screen-lg flex-1 flex-col gap-8 py-12">
    <header class="flex flex-col gap-6">
      <h1 class="text-3xl font-bold sm:text-4xl md:text-5xl">{tag.title}</h1>
      <p class="text-fg-muted sm:text-lg">
        "{tag.title}"に関連する{postsByTag.length}件の記事を表示しています。
      </p>
    </header>
    <div class="flex flex-col gap-6">
      <!-- 仮のモックアップ -->
      {
        postsByTag.map((post, i) => (
          <PostCard
            title={post.data.title}
            icon={post.data.icon as IconName}
            id={post.id}
            body={post.body}
            tags={post.data.tags ?? []}
            categories={post.data.categories.map((category) => category.id)}
            date={post.data.date}
            lastmod={post.data.lastmod}
            animationDelay={160 * i}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
