---
import { getPosts } from "@/lib/posts"
import type { CollectionEntry } from "astro:content"
import path from "path"

export const getStaticPaths = async () => {
  const postEntries = await getPosts()
  return postEntries.map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }))
}

type Props = {
  post: CollectionEntry<"posts">
}
const { post } = Astro.props

const redirectToUrl = new URL(path.join("posts", post.id), Astro.site!).href
---

<!doctype html>
<title>Redirecting to: {redirectToUrl}</title><meta http-equiv="refresh" content=`0;url=${redirectToUrl}` /><meta
  name="robots"
  content="noindex"
/><link rel="canonical" href={redirectToUrl} />
<body>
  <a href={redirectToUrl}>Redirecting from <code>/p/{post.id}/</code> to <code>/posts/{post.id}/</code></a>
</body>
